// colors 
$text: #222222;
$dark-grey: #8E8E8E;
$light-grey: #EEEEEE;
$time: #AEAEAE;
$line: #D6D6D6;
$bg: #F5F5F5;
$red: #EB5757;
$orange: #FFAF86;
$yellow: #FFDC26;
$green: #7DDF81;
$blue: #68A1FF;
$light-purple: #D7AEFF;
$dark-purple: #6A3093;
$purple: #A044FF;
$gradient: linear-gradient(94.4deg, #6A3093 0%, #A044FF 100%);
// text
$base-text-famaly: "Montserrat",
"Arial",
"Helevetica",
sans-serif;
$base-text-size: 12px;
$base-text-lineheight: 15px;