.header-second.header-second-reg
  .container.header__container
    .header__user 
      .header__photo
        img(src="./img/header/logo.png", alt="")
      .header__name.t-h.t-medium Константинольский Константин
      