header.header 
  .container.header__container
    a.header__logo(href="") 
      img(src="./img/header/logo.svg", alt="")
    .header__right 
      nav.nav
        a.nav__link.t-h.active(href="#") Мои события 
        a.nav__link.t-h(href="#") Настроить расписание 
        a.nav__link.t-h(href="#") Группы 
        a.nav__link.t-h(href="#") Интергации 
        a.nav__link.t-h(href="#") Архив
      .header__user 
        .header__name.t-h.t-medium Константин А.
        .header__photo
          img(src="./img/header/logo.png", alt="")
      .header__burger(open-modal="modal--menu")
        img(src="./img/header/burger.svg", alt="")