form.modal.modal--event-confirm
  .modal__bg
  .modal__panel
    .modal__close 
    .form__wrap.form__wrap--full(data-simplebar)
      .event
        .event__date-time 
          p 8:00 - 8:45
          p 28.02.22
        h2.h2.modal__title Название события, длинное название события очень длинное назваиние
        .modal__descroption 
          p Название события, длинное название события очень длинное назваиние Название события, длинное название события очень длинное назваиниеНазвание события, длинное название события очень длинное назваиниеНазвание события, длинное название события очень длинное Название события, длинное название события очень длинное назваиние Название события, длинное название события очень длинное назваиниеНазвание события, длинное название события очень длинное назваиниеНазвание события, длинное название события очень длинное 
          .modal__descroption-all.link.t-gradient.t-medium Читать полностью
        .form__block 
          h3.h3.form__small-title Ссылка на совещание
          .link__panel
            .public__link.link.t-gradient.t-medium http/zoom asdfasdasdasdasdasdasdasdadasdasdasdasdasdasdasdasdasdasdasd
            .public__btn
              +btn-border('Подключиться')
        .form__block 
          h3.h3.form__small-title Участники
          .form__participants
            label.form__participant
              .form__participant-user
                .form__participant-avatar.form__participant-avatar--green GO
                .form__participant-name Константинопольский Константин 
            label.form__participant
              .form__participant-user
                .form__participant-avatar.form__participant-avatar--green GO
                .form__participant-name Константинопольский Константин
            label.form__participant
              .form__participant-user
                .form__participant-avatar.form__participant-avatar--green GO
                .form__participant-name Константинопольский Константин
            label.form__participant
              .form__participant-user
                .form__participant-avatar.form__participant-avatar--green GO
                .form__participant-name Константинопольский Константин
      .form__bottom
        +btn-grdnt('Подтвердить')
        +btn-border('Отклонить')
