.modal.modal--month
  .modal__bg
  .modal__panel
    .modal__close 
    .form__wrap.form__wrap--full(data-simplebar)
      h2.h2.modal__title 4 февраля
      .modal__month-list 
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO
        .month-list__item 
          .month-list__head
            .month-list__time 18.02  8:00 - 8:45
            .month-list__cabinet Звонок в ZOOM
          .month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
          .participants
            .participant.participant--orange IR
            .participant.participant--blue ON
            .participant.participant--purple MA
            .participant.participant--yellow N
            .participant.participant--green GO

