.slider 
  .swiper-wrapper
    .slider__slide.swiper-slide 
      h2.h2.slider__title 
        p Планируйте командные 
        p обсуждения в пару ликов
      p.slider__text Сервис помогает подобрать удобные даты и время для всех участников команды
    .slider__slide.swiper-slide 
      h2.h2.slider__title 
        p Планируйте командные 
        p обсуждения в пару ликов
      p.slider__text Сервис помогает подобрать удобные даты и время для всех участников команды
    .slider__slide.swiper-slide 
      h2.h2.slider__title 
        p Планируйте командные 
        p обсуждения в пару ликов
      p.slider__text Сервис помогает подобрать удобные даты и время для всех участников команды
    
  .swiper-pagination