form.form
  .form__wrap.form__wrap--login
    .form__logo 
      img(src="./img/login/sucсes.svg", alt="")
    h2.h2.form__title Успешно !
    .form__title-text.t-h Пароль успешно восстановлен
    .form__enter 
      +btn-grdnt-full('Продолжить')
