extends ../layouts/default

block variables
	- const title = "Месяц список";

block content
	include ../helpers/mixins

	main.inner-page(data-simplebar) 
		.inner-headers
			include ../../blocks/modules/header/header
			include ../../blocks/modules/header/header-second
		.inner
			.container
				.month-list 
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO
					.month-list__item 
						.month-list__head
							.month-list__time 18.02  8:00 - 8:45
							.month-list__cabinet Звонок в ZOOM
						.month-list__description Название команды, длинное название события очень длинное назваиние длинное назваиние
						.participants
							.participant.participant--orange IR
							.participant.participant--blue ON
							.participant.participant--purple MA
							.participant.participant--yellow N
							.participant.participant--green GO

					
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")